{
  "OBJECTSTORAGE_CREDENTIALS": {
    "apikey": "xxxxxxx",
    "endpoints": "xxxxxxx",
    "iam_apikey_description": "xxxxxxx",
    "iam_apikey_name": "xxxxxxx",
    "iam_role_crn": "xxxxxxx",
    "iam_serviceid_crn": "xxxxxxx",
    "resource_instance_id": "xxxxxxx"
  },
  "EVENTSTREAMS_CREDENTIALS": {
    "instance_id": "xxxxxxx",
    "mqlight_lookup_url": "xxxxxxx",
    "api_key": "xxxxxxx",
    "kafka_admin_url": "xxxxxxx",
    "kafka_rest_url": "xxxxxxx",
    "kafka_brokers_sasl": [],
    "user": "xxxxxxx",
    "password": "xxxxxxx"
  }
}
